@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main{
  background: url("./images/bg-desktop.png")no-repeat center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  
  background: hsl(228, 56%, 26%);
  width: 350px;
  height: 200px;
  border-radius: 10px 100px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 35px;
}

.logo img{
  margin-bottom: 30px;
}
.logo div img{
  background: hsl(229, 57%, 11%);
  padding: 13px;
  border-radius: 8px;
  height: 50px;
  margin: 0 3px;
}
.content{
  background: hsl(228, 56%, 26%);
  width: 350px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-left: 20px;
  position: relative;
}
p{
  color: hsl(229, 7%, 55%);
  text-align: start;
  margin-bottom: 20px;
  font-weight: 400;
}
p span{
  font-weight: 700;
  color: hsl(243, 100%, 93%);
}
.content > span{
  width:200px;
  height: 80px;
  background: hsl(243, 100%, 93%);
  position: absolute;
  right: 30px;
  top: -60px;
  padding: 5px 10px;
  border-radius: 10px 10px 0px 10px;
  font-size: 30px;
  text-align: center;
  color: hsl(229, 57%, 11%);
}